@using System.Linq
@using Microsoft.AspNetCore.Identity
@inject SignInManager<IdentityUser> SignInManager
@inject UserManager<IdentityUser> UserManager

@{
    ViewData["Title"] = "Inicio";
}
<style>
    .container {
        margin: 0; /* Elimina los márgenes */
        padding: 0 !important; /* Opcional: elimina el relleno */
        max-width: 100% !important; /* Asegúrate de que ocupe todo el ancho */
    }

    .video-container {
        position: relative;
        width: 100%;
        height: 0;
        padding-bottom: 56.25%; /* Relación de aspecto 16:9 */
        overflow: hidden;
    }

        .video-container video {
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            object-fit: cover;
        }

    .video-overlay {
        position: absolute;
        top: 30%;
        left: 50%;
        transform: translate(-50%, -50%);
        z-index: 2;
    }

    .video-container video {
        z-index: 1;
    }
</style>



<main class="h-50">

    <div class="container">
        <div class="row">
            <div class="col-12">
                <div class="video-container">
                    <video autoplay muted loop class="w-100" preload="metadata" loading="lazy">
                        <source src="~/videos/videoPadelHome.webm" type="video/webm">
                        Tu navegador no soporta la reproducción de videos.

                    </video>
                    <div class="video-overlay text-center text-white">
                        @if (SignInManager.IsSignedIn(User))
                        {
                            <h2 class="lead fw-light fuente-editorial text-white-50 mt-5">BIENVENIDO</h2>
                            <p class="nav-link text-light " asp-area="Identity" asp-page="/Account/Manage/Index" title="Manage">@User.Identity?.Name!</p>
                        }
                        else
                        {
                            <h1 class="fuente-roboto font-huge color-blanco mt-5 ocultar-en-movil">UNETE A <span class="color-amarillo fs-larger fuente-logo">XPADEL </span></h1>
                            <span class="fuente-roboto fs-6 ocultar-en-movil">TIENDA DE PADEL MEJOR VALORADA EN 2025 JUNTO CON SUS INSTALACIONES POR TODA ESPAÑA, DESCRUBENOS Y CRECE CON NOSOTROS!</span>
                            <br />
                            <br />
                            <br />
                            <br />
                            <br />
                            <br />
                            <br />
                            <br />
                            <br />

                            <div class="row justify-content-center">
                                <!-- Botón Registrate -->
                                <div class="col-12 col-md-6 mb-3">
                                    <a class="btn btn-outline-light btn-square w-100" asp-area="Identity" asp-page="/Account/Register">Registrate</a>
                                </div>

                                <!-- Botón Inicia Sesion -->
                                <div class="col-12 col-md-6 mb-3">
                                    <a class="btn btn-outline-light btn-square w-100" asp-area="Identity" asp-page="/Account/Login">Inicia Sesion</a>
                                </div>
                            </div>

                        }
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="container">
        <div class="mx-2">
            
            <div class="row h-auto bg-black">
                <div class="text-center  text-light my-3">
                    <h2 class="fw-light">TÚ ELIGES COMO JUGAR</h2>
                </div>
                <a class="col-sm-4 col-4 p-0 m-0" asp-area="" asp-controller="Escaparate" asp-action="Index" asp-route-idCategoria="">
                    <div class="card rounded-0 custom-cardWomen">
                        <h2 class="text-light align-self-start p-3 fw-light">WOMEN</h2>
                    </div>
                </a>
                <a class="col-sm-4 col-4 p-0 m-0" asp-area="" asp-controller="Escaparate" asp-action="Index" asp-route-idCategoria="">
                    <div class="card custom-cardWater rounded-0">
                        <h2 class="text-light align-self-start p-3 fw-light">WATER</h2>
                    </div>
                </a>
                <a class="col-sm-4 col-4 p-0 m-0" asp-area="" asp-controller="Escaparate" asp-action="Index" asp-route-idCategoria="">
                    <div class="card custom-cardMen rounded-0">
                        <h2 class="text-light align-self-start p-3 fw-light">MEN</h2>
                    </div>
                </a>
                <a class="col-sm-6 col-6 p-0 m-0" asp-area="" asp-controller="Escaparate" asp-action="Index" asp-route-idCategoria="">
                    <div class="card custom-cardShoes rounded-0">
                        <h2 class="text-light align-self-start p-3 fw-light">SHOES</h2>
                    </div>
                </a>
                <a class="col-sm-6 col-6 p-0 m-0" asp-area="" asp-controller="Escaparate" asp-action="Index" asp-route-idCategoria="">
                    <div class="card custom-cardBag rounded-0">
                        <h2 class="text-light align-self-start p-3 fw-light">BAG</h2>
                    </div>
                </a>


            </div>

        </div>
    </div>

    

    

    <div class="px-4 px-lg-5 mt-5" id="NEW">
        <h2 class="fuente-editorial">NEW</h2>
        
        <div class="container-custom mt-5">
            <div class="row gx-2 gx-lg-3 row-cols-2 row-cols-sm-2 row-cols-sm-3 row-cols-md-4 row-cols-xl-5 justify-content-center">
                @foreach (var item in Model)
                {
                    var imageList = item.Imagenes[0];
                    @if (item.Escaparate == true)
                    {
                        <div class="col mb-5">
                            <div class="card shadow-sm border-0">
                                <a asp-controller="Escaparate" asp-action="AgregarCarrito" asp-route-id="@item.Id" class="text-decoration-none">
                                    <img src="~/imagenes/@imageList.Url" class="card-img-top" alt="Imagen de @item.Descripcion">
                                </a>

                                @if (item.Stock < 10)
                                {
                                    <div class="position-absolute top-0 start-0 m-2">
                                        <span class="badge bg-danger">QUEDAN POCAS UNIDADES</span>
                                    </div>
                                }

                                <!-- Detalles del producto -->
                                <div class="card-body p-3">
                                    <div class="text-start">
                                        <!-- Nombre del producto -->
                                        <h5 class="card-title mb-1">@item.Descripcion</h5>
                                        <!-- Precio -->
                                        <p class="card-text mb-1 fw-bold">@item.Precio.ToString("0.00")€</p>
                                        <!-- Botón de "Añadir al carrito" -->
                                        <a asp-controller="Escaparate" asp-action="AgregarCarrito" asp-route-id="@item.Id" class="btn btn-success w-100">
                                            Añadir al carrito
                                        </a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    }
                }
            </div>
        </div>
    </div>

    <div class="container bg-black">
        <div class="mx-2">
            <div class="row h-auto p-5">
                <div class="col-md-4">
                    <h2 class="text-light"><i class="bi bi-arrow-right"></i> CONSIGUE LO QUE ES TUYO</h2>
                </div>
                <div class="col-md-6">
                    <p class="text-light">Inspirate y comparte con nosotros tus mejores accesorios</p>
                    <p class="text-light">en nuestras redes sociales @@xpadel</p>
                </div>
                <div class="col-md-2">
                    <a class="btn btn-outline-light" asp-controller="Escaparate" asp-action="Index">Ver todo</a>
                </div>
            </div>
            <div class="row h-auto justify-content-around p-5">
                <a class="col-sm-4" asp-area="" asp-controller="Escaparate" asp-action="Index" asp-route-idCategoria="1">
                    <div class="card custom-cardPala my-1">
                        <h2 class="text-light align-self-end p-1"><strong>PALAS</strong></h2>
                    </div>
                </a>
                <a class="col-sm-4" asp-area="" asp-controller="Escaparate" asp-action="Index" asp-route-idCategoria="2">
                    <div class="card custom-cardAccesorio my-1">
                        <h2 class="text-light align-self-end p-1"><strong>ACCESORIOS</strong></h2>
                    </div>
                </a>
                <a class="col-sm-4" asp-area="" asp-controller="Escaparate" asp-action="Index" asp-route-idCategoria="3">
                    <div class="card custom-cardPaletero my-1">
                        <h2 class="text-light align-self-end p-1"><strong>PALETERO</strong></h2>
                    </div>
                </a>


            </div>

        </div>
    </div>

    <div class="container custom-header px-4 px-lg-5">
        <div class="text-center text-white">

            @for (int i = 0; i < 15; i++)
            {
                <br />
            }
            <p class="lead fw-normal text-white-50 mb-2">Comienza a ver nuestros productos</p>
            <a class="btn btn-outline-light" asp-controller="Escaparate" asp-action="Index">SHOP NOW</a>

            @for (int i = 0; i < 15; i++)
            {
                <br />
            }
        </div>
    </div>
   
</main>






