
@using Microsoft.AspNetCore.Identity
@inject SignInManager<IdentityUser> SignInManager
@inject UserManager<IdentityUser> UserManager

@{
    ViewData["Title"] = "Inicio";
}
<style>
    .container {
        margin: 0; /* Elimina los márgenes */
        padding: 0 !important; /* Opcional: elimina el relleno */
        max-width: 100% !important; /* Asegúrate de que ocupe todo el ancho */
    }
    .video-container {
        position: relative;
        width: 100%;
        height: 0;
        padding-bottom: 56.25%; /* Relación de aspecto 16:9 */
        overflow: hidden;
    }

    .video-container video {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        object-fit: cover;
    }

    .video-overlay {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        z-index: 2;
    }

    .video-container video {
        z-index: 1;
    }

    .btn-outline-light:hover{
        color: black;
    }
</style>



<main class="h-50">

    <div class="container">
        <div class="row">
            <div class="col-12">
                <div class="video-container">
                    <video autoplay muted loop class="w-100">
                        <source src="~/videos/videoPadelHome.mp4" type="video/mp4">
                        Tu navegador no soporta la reproducción de videos.

                    </video>
                    <div class="video-overlay text-center text-white">
                        <br />
                        <br />
                        @if (SignInManager.IsSignedIn(User))
                        {
                            <h2 class="lead fw-normal text-white-50 mt-5">BIENVENIDO</h2>
                            <p class="nav-link text-light" asp-area="Identity" asp-page="/Account/Manage/Index" title="Manage">@User.Identity?.Name!</p>
                        }
                        else
                        {
                            <h2 class="lead fw-normal text-white-50 my-5">UNETE A NOSOTROS</h2>
                                <a class="btn btn-outline-light mx-3" asp-area="Identity" asp-page="/Account/Register">Registrate</a>
                                <a class="btn btn-outline-light mx-3" asp-area="Identity" asp-page="/Account/Login">Inicia Sesion</a>
                        }
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="container bg-black">
        <div class="mx-2">
            <div class="row h-auto p-5">
                <div class="col-md-4">
                    <h2 class="text-light"><i class="bi bi-arrow-right"></i> CONSIGUE LO QUE ES TUYO</h2>
                </div>
                <div class="col-md-6">
                    <p class="text-light">Inspirate y comparte con nosotros tus mejores accesorios</p>
                    <p class="text-light">en nuestras redes sociales @@xpadel</p>
                </div>
                <div class="col-md-2">
                    <a class="btn btn-outline-light" href="#Escaparate">Ver todo</a>
                </div>
            </div>
            <div class="row h-auto justify-content-around p-5">
                <a class="col-sm-4" asp-area="" asp-controller="Escaparate" asp-action="Index">
                    <div class="card custom-cardPala my-1">
                        <h2 class="text-light align-self-end p-1"><strong>PALAS</strong></h2>
                    </div>
                </a>

                <a class="col-sm-4" asp-area="" asp-controller="Escaparate" asp-action="Index">
                    <div class="card custom-cardPaletero my-1">
                        <h2 class="text-light align-self-end p-1"><strong>PALETERO</strong></h2>
                    </div>
                </a>

                <a class="col-sm-4" asp-area="" asp-controller="Escaparate" asp-action="Index">
                    <div class="card custom-cardAccesorio my-1">
                        <h2 class="text-light align-self-end p-1"><strong>ACCESORIOS</strong></h2>
                    </div>
                </a>
            </div>
        </div>
    </div>

    <div class="container custom-header px-4 px-lg-5">
        <div class="text-center text-white">

            @for(int i = 0; i < 15; i++)
            {
                <br />
            }
            <p class="lead fw-normal text-white-50 mb-2">Comienza a ver nuestros productos</p>
            <a class="btn btn-outline-light" href="#Escaparate">SHOP NOW</a>

            @for (int i = 0; i < 15; i++)
            {
                <br />
            }
        </div>
    </div>

    

    <div class="px-4 px-lg-5 mt-5">
        <h2>NEW</h2>
        <div class="row gx-4 gx-lg-5 row-cols-2 row-cols-md-3 row-cols-xl-4 justify-content-center">
            @foreach (var item in Model)
            {
                <div class="col mb-5">
                    <div class="card h-100">
                        <img src="~/imagenes/@item.Imagen" class="card-img-top" alt="Imagen de @item.Descripcion">
                        <div class="card-body p-4">
                            <div class="text-center">
                                <h5 class="card-title">@(item.Descripcion)</h5>
                                <p class="card-text">@(item.Precio)€</p>
                            </div>
                        </div>
                    
                        <div class="card-footer p-4 pt-0 border-top-0 bg-transparent">
                            <div class="text-center">
                                @if (item.Stock < 10)
                                {
                                    <p class="text-danger">QUEDAN POCAS UNIDADES</p>
                                }
                                <a asp-controller="Escaparate" asp-action="AgregarCarrito" asp-route-id="@item.Id" class="btn btn-primary">Agregar al Carrito</a>
                            </div>
                        </div>
                    </div>
                </div>
            }
       </div>
    </div>

    <div id="carouselExampleInterval" class="container carousel slide" data-bs-ride="carousel">
        <div class="carousel-inner">
            <div class="carousel-item active" data-bs-interval="2000">
                <img src="~/imagenes/tiendapadel1.jpg class="d-block w-100" alt="...">
            </div>
            <div class="carousel-item" data-bs-interval="2000">
                <img src="~/imagenes/pistapadel1.jpg" class="d-block w-100" alt="...">
            </div>
            <div class="carousel-item" data-bs-interval="2000">
                <img src="~/imagenes/tiendapadel2.jpg" class="d-block w-100" alt="...">
            </div>
            <div class="carousel-item" data-bs-interval="2000">
                <img src="~/imagenes/pistapadel2.jpg" class="d-block w-100" alt="...">
            </div>
        </div>
        <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleInterval" data-bs-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Previous</span>
        </button>
        <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleInterval" data-bs-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Next</span>
        </button>
    </div>
</main>






