@model TiendaPadel.Models.Pedido

@{
    ViewData["Title"] = "Detalles";
}

<div class="text-center">
    <h1><i class="bi bi-mailbox-flag"></i> Detalles del Pedido</h1>
</div>


<div class="card box-shadow my-4">
    <div class="card-body row g-3">
        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
        <div class="col-12 text-center">
            <span class="badge rounded-pill bg-dark text-light col-md-2 align-self-center p-2">Fecha</span>
            <p>@Model.Fecha</p>
        </div>
        @if (Model.Estado.Descripcion != "Pendiente")
        {
            <div class="col-md-4 text-center">
                <span class="badge rounded-pill bg-dark text-light col-md-2 align-self-center p-2">Confirmado</span>
                <p>@Model.Confirmado</p>
            </div>
            <div class="col-md-4 text-center">
                <span class="badge rounded-pill bg-dark text-light col-md-2 align-self-center p-2">Preparado</span>
                <p>@Model.Preparado</p>
            </div>
            <div class="col-md-4 text-center">
                <span class="badge rounded-pill bg-dark text-light col-md-2 align-self-center p-2">Enviado</span>
                <p>@Model.Enviado</p>
            </div>
            <div class="col-md-4 text-center">
                <span class="badge rounded-pill bg-dark text-light col-md-2 align-self-center p-2">Cobrado</span>
                <p>@Model.Cobrado</p>
            </div>
            <div class="col-md-4 text-center">
                <span class="badge rounded-pill bg-dark text-light col-md-2 align-self-center p-2">Devuelto</span>
                <p>@Model.Devuelto</p>
            </div>
            <div class="col-md-4 text-center">
                <span class="badge rounded-pill bg-dark text-light col-md-2 align-self-center p-2">Estado</span>
                <p>@Html.DisplayFor(model => model.Estado.Descripcion)</p>
            </div>
        }
        else
        {
            <div class="col-12 text-center">
                <span class="badge rounded-pill bg-dark text-light col-md-4 align-self-center p-2">Estado</span>
                <p>@Html.DisplayFor(model => model.Estado.Descripcion)</p>
            </div>
        }
    </div>
    <div class="card-footer bg-dark text-light">
        @{
            var contador = 0;
        }
        <h4 class="text-center">Productos</h4>
        <div>

            <div class="row d-flex gap-1 ocultar-en-movil">
                <div class="col-2"></div>
                <div class="col-2"> <span class="badge rounded-pill bg-light text-dark col-md-2 align-self-center p-2 w-100 m-3">Producto</span></div>
                <div class="col-2"> <span class="badge rounded-pill bg-light text-dark col-md-2 align-self-center p-2 w-100 m-3">Cantidad</span></div>
                <div class="col-2"> <span class="badge rounded-pill bg-light text-dark col-md-2 align-self-center p-2 w-100 m-3">Precio</span></div>
                <div class="col-2"> <span class="badge rounded-pill bg-light text-dark col-md-2 align-self-center p-2 w-100 m-3">Descuento</span></div>
                <div class="col-2"></div>
            </div>
            @if (Model.Detalles != null && Model.Detalles.Any())
            {
                foreach (var item in Model.Detalles)
                {
                    <div class="card bg-light text-dark my-3">
                        <div class="row">
                            
                            <div class="col-sm-2 col-12 p-4">
                                <img src="~/imagenes/@item.Producto.Imagenes.First().Url" width="100%" height="100%" class="rounded" alt="Imagen de @item.Producto.Descripcion" />
                            </div>
                            <div class="col-sm-2 col-12 text-center align-self-center">
                                <p>@item.Producto.Descripcion</p>
                            </div>
                            <div class="col-sm-2 col-12 text-center align-self-center">
                                <p>@item.Cantidad</p>
                            </div>
                            <div class="col-sm-2 col-12 text-center align-self-center">
                                <p>@item.Precio €</p>
                            </div>
                            <div class="col-sm-2 col-12 text-center align-self-center">
                                <p>@item.Descuento %</p>
                            </div>
                            <div class="col-sm-2 col-12 text-center align-self-center">
                                <div class="d-print-none">
                                    <a asp-action="AgregarCarrito" asp-controller="Escaparate" asp-route-id="@item.ProductoId" class="btn btn-outline-dark"><i class="bi bi-eye"></i></a>
                                </div>
                            </div>
                        </div>
                    </div>
                    contador++;
                }
            }
            else
            {
                <div class="row text-center">
                    <p>No hay detalles disponibles.</p>
                </div>
            }
        </div>

        <div class="row my-4 d-flex justify-content-center">
            <p class="text-center my-5">Número de productos: @contador </p>
            <div class="btn-group col-sm-4">
                <a class="btn btn-outline-primary" asp-action="Index">Volver</a>
                @if (Model.Estado.Descripcion == "Pendiente")
                {
                    <a asp-controller="Carrito" asp-action="Index" asp-route-id="@Model.Id" class="btn btn-primary">Volver a Comprar</a> 
                    <a asp-action="Delete" asp-route-id="@Model.Id" class="btn btn-outline-danger">Eliminar</a>
                }
            </div>
        </div>
    </div>
</div>



