@model PaginatedList<TiendaPadel.Models.Pedido>

@{
    ViewData["Title"] = "Mis Pedidos";
}

<h1>Mis Pedidos</h1>

@* Agregar un cuadro de búsqueda en la vista Index de Avisos *@
<form asp-action="Index">
    <div class="rounded-2 bg-dark my-5 p-3">
        <div class="text-center d-flex flex-wrap justify-content-around">
            <div class="col-md-3 my-1 form-floating">
                <input type="date" name="fecha" class="form-control" id="floatingInput"
                       value="@ViewData["BusquedaFecha"]" />
                <label for="floatingInput">Fecha del Pedido</label>
            </div>
            <div class="col-md-3 my-1">
                <select name="strCadenaEstado" class="form-select">
                    <option value="">Todos los Estados</option>
                    <option value="Pendiente" selected='@(ViewData["strCadenaEstado"]?.ToString() == "Pendiente")'>Pendientes</option>
                    <option value="Realizado" selected='@(ViewData["strCadenaEstado"]?.ToString() == "Realizado")'>Realizados</option>
                </select>
            </div>


        </div>
        <div class="d-flex justify-content-end">
            <div class="col-md-2 btn-group text-end">
                <button type="submit" value="Buscar" class="btn btn-outline-light"><i class="bi bi-search"></i></button>
                <a asp-action="Index" class="btn btn-outline-light">Ver todo</a>
            </div>
        </div>
    </div>
</form>

<table class="table table-striped">

    <thead class="bg-dark text-light">
        <tr>
            <th class="bg-dark text-light">
                Fecha
            </th>
            <th class="bg-dark text-light">
                Estado
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Fecha)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Estado.Descripcion)
                </td>
                <td class="text-end">
                    
                    @if (item.Estado.Descripcion == "Pendiente")
                    {

                        <a asp-controller="Carrito" asp-action="Index" asp-route-id="@item.Id" class="btn btn-success m-1">Comprar</a>
                        <a type="button" class="btn btn-danger m-1" data-bs-toggle="modal" data-bs-target="#modalEliminar-@item.Id">
                            Anular
                        </a>


                        <div class="modal fade" id="modalEliminar-@item.Id" tabindex="-1" aria-labelledby="modalEliminarLabel-@item.Id" aria-hidden="true">
                            <div class="modal-dialog modal-dialog-centered">
                                <div class="modal-content">
                                    <div class="modal-header">
                                        <h5 class="modal-title" id="modalEliminarLabel-@item.Id">Confirmar Anulacion</h5>
                                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Cerrar"></button>
                                    </div>
                                    <div class="modal-body">
                                        <p>¿Estás seguro de que deseas anular este pedido?</p>

                                        <div class="text-center mb-3">
                                            <h4>Pedido nº @item.Id</h4>
                                            <hr />
                                            <div>
                                                <p>Usuario @item.Cliente.Nombre</p>
                                                <p>@item.Cliente.Email</p>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="modal-footer">
                                        <button type="button" class="btn btn-secondary btn-sm rounded-2" data-bs-dismiss="modal">Cancelar</button>
                                        <form asp-action="Delete" method="post">
                                            <input type="hidden" name="id" value="@item.Id" />
                                            <button type="submit" class="btn btn-danger btn-sm rounded-2">Eliminar</button>
                                        </form>
                                    </div>
                                </div>
                            </div>
                        </div>
                    }
                    <a class="btn btn-dark m-1" asp-action="Details" asp-route-id="@item.Id">Detalles</a>
                </td>
               
            </tr>
        }
    </tbody>
</table>

@* Poner botones de página Siguiente y Anterior *@
@{
    var prevDisabled = !Model.HasPreviousPage ? "disabled" : "";
    var nextDisabled = !Model.HasNextPage ? "disabled" : "";
}
<div class="text-center">
    <p>Numero de páginas: @Model.TotalPages</p>
</div>
<div class="d-flex justify-content-center">
    <div class="btn-group text-center w-20" role="group">
        <a asp-action="Index" asp-route-pageNumber="@(Model.PageIndex - 1)"
           class="btn btn-outline-secondary @prevDisabled">
            Anterior
        </a>
        <button class="btn btn-dark text-light">@Model.PageIndex</button>
        <a asp-action="Index" asp-route-pageNumber="@(Model.PageIndex + 1)"
           class="btn btn-outline-secondary @nextDisabled">
            Siguiente
        </a>
    </div>
</div>
