@model PaginatedList<TiendaPadel.Models.Pedido>

@{
    ViewData["Title"] = "Mis Pedidos";
}

<h1>Mis Pedidos</h1>

<table class="table">
    <form asp-action="Index">
        <div class="container">
            <div class="row align-items-start text-center">
                <div class="col-md-4 my-1 form-floating">
                    <input type="date" name="fecha" class="form-control" id="floatingInput"
                           value="@ViewData["BusquedaFecha"]" />
                    <label for="floatingInput">Fecha del Pedido</label>
                </div>
                <div class="col-md-4 my-1">
                    <select name="strCadenaEstado" class="form-select">
                        <option value="">Todos los Estados</option>
                        <option value="Pendiente" selected='@(ViewData["strCadenaEstado"]?.ToString() == "Pendiente")'>Pendientes</option>
                        <option value="Realizado" selected='@(ViewData["strCadenaEstado"]?.ToString() == "Realizado")'>Realizados</option>
                    </select>
                </div>

                <div class="col-md-4 align-self-center my-1">
                    <input type="submit" value="Buscar" class="btn btn-default" /> |
                    <a asp-action="Index" class="btn btn-default">Lista completa</a>
                </div>
            </div>
        </div>
    </form>

    <thead>
        <tr>
            <th>
                Fecha
            </th>
            <th>
                Confirmado
            </th>
            <th>
                Preparado
            </th>
            <th>
                Enviado
            </th>
            <th>
                Cobrado
            </th>
            <th>
                Devuelto
            </th>
            <th>
                Anulado
            </th>
            <th>
                Estado
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Fecha)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Confirmado)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Preparado)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Enviado)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Cobrado)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Devuelto)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Anulado)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Estado.Descripcion)
                </td>
                <td>
                    @if (item.Estado.Descripcion == "Pendiente")
                    {
                        <a asp-controller="Carrito" asp-action="Index" asp-route-id="@item.Id" class="btn btn-primary">Volver a Comprar</a>
                    }
                    |
                    <a asp-action="Details" asp-route-id="@item.Id">Detalles</a> |
                    <a asp-action="Delete" asp-route-id="@item.Id">Eliminar</a>
                </td>
            </tr>
        }
    </tbody>
</table>

@* Poner botones de página Siguiente y Anterior *@
@{
    var prevDisabled = !Model.HasPreviousPage ? "disabled" : "";
    var nextDisabled = !Model.HasNextPage ? "disabled" : "";
}
<div class="text-center">
    <p>Numero de páginas: @Model.TotalPages</p>
</div>
<div class="btn-group text-center w-20 justify-content-center" role="group">
    <a asp-action="Index" asp-route-pageNumber="@(Model.PageIndex - 1)"
       class="btn btn-outline-secondary @prevDisabled">
        Anterior
    </a>
    <button class="btn btn-dark text-light">@Model.PageIndex</button>
    <a asp-action="Index" asp-route-pageNumber="@(Model.PageIndex + 1)"
       class="btn btn-outline-secondary @nextDisabled">
        Siguiente
    </a>
</div>
