@model TiendaPadel.Models.Pedido

@{
    ViewData["Title"] = "Carrito de Compras";
}

<h2>Carrito de Compras</h2>

@if (!Model.Detalles.Any())
{
    <p>Tu carrito está vacío.</p>
}
else
{
    <div>
        <h4>Producto</h4>
        <hr />
            <dl class="row">
                <dt class="col-sm-2">
                    Pedido
                </dt>
                <dd class="col-sm-10">
                    @Model.Id
                </dd>
                <dt class="col-sm-2">
                    Fecha
                </dt>
                <dd class="col-sm-10">
                @Model.Fecha.ToString("dd/MM/yyyy")
                </dd>
                <dt class="col-sm-2">
                    Confirmado
                </dt>
                <dd class="col-sm-10">
                    @Model.Confirmado.ToString()
                </dd>
                <dt class="col-sm-2">
                    Preparado
                </dt>
                <dd class="col-sm-10">
                    @Model.Preparado.ToString()
                </dd>
                <dt class="col-sm-2">
                    Enviado
                </dt>
                <dd class="col-sm-10">
                    @Model.Enviado.ToString()
                </dd>
                <dt class="col-sm-2">
                    Cobrado
                </dt>
                <dd class="col-sm-10">
                    @Model.Cobrado.ToString()
                </dd>
                <dt class="col-sm-2">
                    Devuelto
                </dt>
                <dd class="col-sm-10">
                    @Model.Devuelto.ToString()
                </dd>
                <dt class="col-sm-2">
                    Anulado
                </dt>
                <dd class="col-sm-10">
                    @Model.Anulado.ToString()
                </dd>
                <dt class="col-sm-2">
                    Cliente
                </dt>
                <dd class="col-sm-10">
                    @Model.Cliente.Nombre
                </dd>
                <dt class="col-sm-2">
                    Estado
                </dt>
                <dd class="col-sm-10">
                    @Model.Estado.Descripcion
                </dd>
            </dl>
    </div>

    <table class="table">
        <thead>
            <tr>
                <th>Producto</th>
                <th>Descripcion</th>
                <th>Cantidad</th>
                <th>Precio</th>
                <th>Descuento</th>
                <th>Total</th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @{
                decimal totalCompra = 0;
            }
            @foreach (var item in Model.Detalles)
            {
                totalCompra += item.Cantidad * item.Precio;
                <tr>
                    <td><img src="~/imagenes/@item.Producto.Imagen" width="50px" height="50px"/></td>
                    <td>@item.Producto.Descripcion</td>
                    <td>
                        <a asp-action="MenosCantidad" asp-route-id="@item.Id" class="btn btn-primary btn-sm">-</a>
                        @item.Cantidad
                        <a asp-action="MasCantidad" asp-route-id="@item.Id" class="btn btn-primary btn-sm">+</a>
                    </td>
                    <td>@item.Precio €</td>
                    <td>@item.Descuento</td>
                    <td>@(item.Cantidad * item.Precio) €</td>
                    <td>
                        <a asp-action="EliminarLinea" asp-route-id="@item.Id" class="btn btn-danger btn-sm">Eliminar</a>
                    </td>
                </tr>
                
            }
            <tr>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td>Total</td>
                <td>@totalCompra €</td>
                <td></td>
            </tr>
        </tbody>
    </table>
    <a asp-action="ConfirmarPedido" asp-route-id="@ViewData["NumPedido"]" class="btn btn-primary">Confirmar Pedido</a>
}
<a asp-controller="Escaparate" asp-action="Index"  class="btn btn-primary">Seguir Comprando</a>