@model TiendaPadel.Models.Pedido

@{
    ViewData["Title"] = "Carrito de Compras";
}

<h2>Carrito de Compras</h2>

@if (!Model.Detalles.Any())
{
    <p>Tu carrito está vacío.</p>
}
else
{
    <div>
        <h4>Producto</h4>
        <hr />
            <dl class="row">
                <dt class="col-sm-2">
                    Pedido
                </dt>
                <dd class="col-sm-10">
                    @Model.Id
                </dd>
                <dt class="col-sm-2">
                    Fecha
                </dt>
                <dd class="col-sm-10">
                @Model.Fecha.ToString("dd/MM/yyyy")
                </dd>
                <dt class="col-sm-2">
                    Confirmado
                </dt>
                <dd class="col-sm-10">
                    @Model.Confirmado.ToString()
                </dd>
                <dt class="col-sm-2">
                    Preparado
                </dt>
                <dd class="col-sm-10">
                    @Model.Preparado.ToString()
                </dd>
                <dt class="col-sm-2">
                    Enviado
                </dt>
                <dd class="col-sm-10">
                    @Model.Enviado.ToString()
                </dd>
                <dt class="col-sm-2">
                    Cobrado
                </dt>
                <dd class="col-sm-10">
                    @Model.Cobrado.ToString()
                </dd>
                <dt class="col-sm-2">
                    Devuelto
                </dt>
                <dd class="col-sm-10">
                    @Model.Devuelto.ToString()
                </dd>
                <dt class="col-sm-2">
                    Anulado
                </dt>
                <dd class="col-sm-10">
                    @Model.Anulado.ToString()
                </dd>
                <dt class="col-sm-2">
                    Cliente
                </dt>
                <dd class="col-sm-10">
                    @Model.Cliente.Nombre
                </dd>
                <dt class="col-sm-2">
                    Estado
                </dt>
                <dd class="col-sm-10">
                    @Model.Estado.Descripcion
                </dd>
            </dl>
    </div>

    <table class="table">
        <thead>
            <tr>
                <th>Producto</th>
                <th>Descripcion</th>
                <th>Cantidad</th>
                <th>Precio</th>
                <th>Descuento</th>
                <th>Total</th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @{
                decimal totalCompra = 0;
            }
            @foreach (var item in Model.Detalles)
            {
                totalCompra += item.Cantidad * item.Precio;
                <tr>
                    <td><img src="~/imagenes/@item.Producto.Imagen" width="50px" height="50px"/></td>
                    <td>@item.Producto.Descripcion</td>
                    <td>
                        <a asp-action="MenosCantidad" asp-route-id="@item.Id" class="btn btn-primary btn-sm">-</a>
                        @item.Cantidad
                        <a asp-action="MasCantidad" asp-route-id="@item.Id" class="btn btn-primary btn-sm">+</a>
                    </td>
                    <td>@item.Precio €</td>
                    <td>@item.Descuento</td>
                    <td>@(item.Cantidad * item.Precio) €</td>
                    <td>
                        <a asp-action="EliminarLinea" asp-route-id="@item.Id" class="btn btn-danger btn-sm">Eliminar</a>
                    </td>
                </tr>
                
            }
            <tr>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td>Total</td>
                <td>@totalCompra €</td>
                <td></td>
            </tr>
        </tbody>
    </table>
    <a asp-action="ConfirmarPedido" asp-route-id="@ViewData["NumPedido"]" class="btn btn-primary">Confirmar Pedido</a>
}

@*<div class="card">
    <div class="row">
        <div class="col-md-8 cart">
            <div class="title">
                <div class="row">
                    <div class="col"><h4><b>Shopping Cart</b></h4></div>
                    <div class="col align-self-center text-right text-muted">3 items</div>
                </div>
            </div>
            <div class="row border-top border-bottom">
                <div class="row main align-items-center">
                    <div class="col-2"><img class="img-fluid" src="https://i.imgur.com/1GrakTl.jpg"></div>
                    <div class="col">
                        <div class="row text-muted">Shirt</div>
                        <div class="row">Cotton T-shirt</div>
                    </div>
                    <div class="col">
                        <a href="#">-</a><a href="#" class="border">1</a><a href="#">+</a>
                    </div>
                    <div class="col">&euro; 44.00 <span class="close">&#10005;</span></div>
                </div>
            </div>
            <div class="row">
                <div class="row main align-items-center">
                    <div class="col-2"><img class="img-fluid" src="https://i.imgur.com/ba3tvGm.jpg"></div>
                    <div class="col">
                        <div class="row text-muted">Shirt</div>
                        <div class="row">Cotton T-shirt</div>
                    </div>
                    <div class="col">
                        <a href="#">-</a><a href="#" class="border">1</a><a href="#">+</a>
                    </div>
                    <div class="col">&euro; 44.00 <span class="close">&#10005;</span></div>
                </div>
            </div>
            <div class="row border-top border-bottom">
                <div class="row main align-items-center">
                    <div class="col-2"><img class="img-fluid" src="https://i.imgur.com/pHQ3xT3.jpg"></div>
                    <div class="col">
                        <div class="row text-muted">Shirt</div>
                        <div class="row">Cotton T-shirt</div>
                    </div>
                    <div class="col">
                        <a href="#">-</a><a href="#" class="border">1</a><a href="#">+</a>
                    </div>
                    <div class="col">&euro; 44.00 <span class="close">&#10005;</span></div>
                </div>
            </div>
            <div class="back-to-shop"><a href="#">&leftarrow;</a><span class="text-muted">Back to shop</span></div>
        </div>
        <div class="col-md-4 summary">
            <div><h5><b>Summary</b></h5></div>
            <hr>
            <div class="row">
                <div class="col" style="padding-left:0;">ITEMS 3</div>
                <div class="col text-right">&euro; 132.00</div>
            </div>
            <form>
                <p>SHIPPING</p>
                <select><option class="text-muted">Standard-Delivery- &euro;5.00</option></select>
                <p>GIVE CODE</p>
                <input id="code" placeholder="Enter your code">
            </form>
            <div class="row" style="border-top: 1px solid rgba(0,0,0,.1); padding: 2vh 0;">
                <div class="col">TOTAL PRICE</div>
                <div class="col text-right">&euro; 137.00</div>
            </div>
            <button class="btn">CHECKOUT</button>
        </div>
    </div>

</div>*@
<a asp-controller="Escaparate" asp-action="Index"  class="btn btn-primary">Seguir Comprando</a>