@model IEnumerable<TiendaPadel.Models.Producto>
@{
    ViewData["Title"] = "Escaparate";
    var categorias = ViewData["Categorias"] as IEnumerable<TiendaPadel.Models.Categoria>;
}

<h1>Escaparate</h1>

<div>
    <h2>Categorias</h2>
    <div class="navbar-collapse bg-primary opacity-50 rounded-2 mx-2 px-2 w-100">
        <ul class="navbar-nav flex-row flex-wrap justify-content-between">
            <li class="nav-item">
                <a class="nav-link text-dark" asp-action="Index" asp-route-idCategoria="">
                    Quitar filtros
                </a>
            </li>
            @if (categorias != null)
            {
                foreach (var categoria in categorias)
                {
                    <li>|</li>
                    <li class="nav-item">
                        <a class="nav-link text-dark" asp-action="Index" asp-route-idCategoria="@categoria.Id">
                            @categoria.Descripcion
                        </a>
                    </li>
                }
            }
        </ul>
    </div>
</div>




<div class="container px-4 px-lg-5 mt-5">
    <div class="row gx-4 gx-lg-5 row-cols-2 row-cols-md-3 row-cols-xl-4 justify-content-center">
        @foreach (var item in Model)
        {
            <div class="col mb-5">
                <div class="card h-100">
                    <img src="~/imagenes/@item.Imagen" class="card-img-top" alt="Imagen de @item.Descripcion">
                    <div class="card-body p-4">
                        <div class="text-center">
                            <h5 class="card-title">@(item.Descripcion)</h5>
                            <p class="card-text">@(item.Precio)€</p>
                        </div>
                    </div>
                    
                    <div class="card-footer p-4 pt-0 border-top-0 bg-transparent">
                        <div class="text-center">
                            @if (item.Stock < 10)
                            {
                                <p class="text-danger">QUEDAN POCAS UNIDADES</p>
                            }
                            <a asp-controller="Escaparate" asp-action="AgregarCarrito" asp-route-id="@item.Id" class="btn btn-primary">Agregar al Carrito</a>
                        </div>
                    </div>
                </div>
            </div>
        }
   </div>
</div>

