@model PaginatedList<TiendaPadel.Models.Pedido>

@{
    ViewData["Title"] = "Pedidos";
}



<div class="text-center my-1">
    <h1>Pedidos</h1>
</div>

@* Agregar un cuadro de búsqueda en la vista Index de Avisos *@
<form asp-action="Index">
    <div class="card bg-dark my-5 ">
        <div class="card-body text-center d-flex flex-wrap justify-content-around">
            <div class="col-md-3 my-1 form-floating">
                <input type="date" name="fecha" class="form-control" id="floatingInput"
                       value="@ViewData["BusquedaFecha"]" />
                <label for="floatingInput">Fecha del Pedido</label>
            </div>
            <div class="col-md-3 form-floating my-1">
                <input type="text" name="strCadenaUsuario" id="floatingInput"
                       value="@ViewData["BusquedaUsuario"]" class="form-control" />
                <label class="control-label">Usuario</label>
            </div>
            <div class="col-md-3 my-1">
                <select name="strCadenaEstado" class="form-select">
                    <option value="">Todos los Estados</option>
                    <option value="Pendiente" selected='@(ViewData["strCadenaEstado"]?.ToString() == "Pendiente")'>Pendientes</option>
                    <option value="Realizado" selected='@(ViewData["strCadenaEstado"]?.ToString() == "Realizado")'>Realizados</option>
                </select>
            </div>
        </div>

        <div class="card-footer d-flex justify-content-end">
            <div class="col-md-2 btn-group mx-2">
                <button type="submit" value="Buscar" class="btn btn-outline-light"><i class="bi bi-search"></i></button>
                <a asp-action="Index" class="btn btn-outline-light">Ver todo</a>
            </div>
            <div class="col-md-2 text-end">
                <a class="btn btn-success" asp-action="Create">Nuevos Pedidos <i class="bi bi-plus-lg"></i></a>
            </div>
        </div>
    </div>
</form>

<table class="table table-striped">
    

    <thead class="bg-dark text-light">
        <tr>
            <th class="text-light">
                Fecha
            </th>
            <th class="text-light">
                Confirmado
            </th>
            <th class="text-light">
                Preparado
            </th>
            <th class="text-light">
                Enviado
            </th>
            <th class="text-light">
                Cobrado
            </th>
            <th class="text-light">
                Devuelto
            </th>
            <th class="text-light">
                Anulado
            </th>
            <th class="text-light">
                Cliente
            </th>
            <th class="text-light">
                Estado
            </th>
            <th></th>

        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Fecha)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Confirmado)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Preparado)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Enviado)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Cobrado)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Devuelto)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Anulado)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Cliente.Nombre)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Estado.Descripcion)
            </td>
            <td>
                    <a class="btn btn-outline-dark" asp-action="Edit" asp-route-id="@item.Id"><i class="bi bi-pencil-square"></i></a>
                    <a class="btn btn-outline-dark" asp-action="Details" asp-route-id="@item.Id"><i class="bi bi-eye"></i></a>
                    <a type="button" class="btn btn-outline-danger" data-bs-toggle="modal" data-bs-target="#modalEliminar-@item.Id">
                        <i class="bi bi-x-lg"></i>
                    </a>


                    <div class="modal fade" id="modalEliminar-@item.Id" tabindex="-1" aria-labelledby="modalEliminarLabel-@item.Id" aria-hidden="true">
                        <div class="modal-dialog modal-dialog-centered">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <h5 class="modal-title" id="modalEliminarLabel-@item.Id">Confirmar Anulacion</h5>
                                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Cerrar"></button>
                                </div>
                                <div class="modal-body">
                                    <p>¿Estás seguro de que deseas anular este pedido?</p>

                                    <div class="text-center mb-3">
                                       <h4>Pedido nº @item.Id</h4>
                                       <hr />
                                       <div>
                                            <p>Usuario @item.Cliente.Nombre</p>
                                            <p>@item.Cliente.Email</p>
                                       </div>
                                    </div>
                                </div>
                                <div class="modal-footer">
                                    <button type="button" class="btn btn-secondary btn-sm rounded-2" data-bs-dismiss="modal">Cancelar</button>
                                    <form asp-action="Delete" method="post">
                                        <input type="hidden" name="id" value="@item.Id" />
                                        <button type="submit" class="btn btn-danger btn-sm rounded-2">Eliminar</button>
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>
            </td>
        </tr>
}
    </tbody>
</table>

@* Poner botones de página Siguiente y Anterior *@
@{
    var prevDisabled = !Model.HasPreviousPage ? "disabled" : "";
    var nextDisabled = !Model.HasNextPage ? "disabled" : "";
}
<div class="text-center">
    <p>Numero de páginas: @Model.TotalPages</p>
</div>
<div class="d-flex justify-content-center">
    <div class="btn-group text-center w-20" role="group">
        <a asp-action="Index" asp-route-pageNumber="@(Model.PageIndex - 1)"
           class="btn btn-outline-secondary @prevDisabled">
            Anterior
        </a>
        <button class="btn btn-dark text-light">@Model.PageIndex</button>
        <a asp-action="Index" asp-route-pageNumber="@(Model.PageIndex + 1)"
           class="btn btn-outline-secondary @nextDisabled">
            Siguiente
        </a>
    </div>
</div>

