@model TiendaPadel.Models.Producto

@{
    ViewData["Title"] = "Detalles";
}


<div class="text-center">
    <h1><i class="bi bi-box-seam"></i> Detalles del Producto</h1>
</div>

<div class="card bg-dark p-5 my-4">
    <div class="card-body row g-3 text-light">
        <div class="row">
            <div class="col-md-5 col-12 scrollable">


                <img src="~/imagenes/@(Model.Imagen)" class="rounded-2" width="450px" height="400px" />

            </div>

            <div class="col-md-7 col-12">
                <h3 class="pb-3">@Model.Descripcion</h3>
                <h4 class="pb-3">@Model.Texto</h4>
                <h4 class="pb-3">Precio: <strong>@Model.Precio €</strong></h4>
                <h4 class="pb-3">Stock: <strong>@Model.Stock ud</strong></h4>
                <h4 class="pb-3">Categoria: @Model.Categoria.Descripcion</h4>
            </div>
        </div>
    </div>                
    <div class="card-footer d-flex justify-content-center">
        <div class="btn-group col-4">
            <a class="btn btn-outline-primary" asp-action="Index">Volver</a>
            <a class="btn btn-primary" asp-action="Edit" asp-route-id="@Model?.Id">Editar</a>
        </div>
    </div>
</div>